.wrapper {
    padding-left: 220px;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 100vh;
    background-color: #2c2c2c;
    color: #7d7d7d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: left;
}

.table-wrapper {
    max-width: 700px;
 
}

/*COMMON TABLE STYLE*/
.file-table {
    width: 100%;
    margin-bottom: 40px;
    box-shadow: 0 0 0 1px #7d7d7d;
    border-radius: 5px;     
}

.file-table:last-child{
    margin-bottom: 0;
}

.file-table td,
.file-table th {
    padding: 15px 20px;
}

.search th {
    padding: 6px 20px;
}

.file-table tr{
    border: 1px solid #7d7d7d;
}

.file-table tr:last-child{
    border-bottom: none;
}

.file-table th:first-child {
    width: 50%;
    text-align: left;
    position: relative;
}

.file-table th, 
.file-table td:first-child,
.file-table:first-child .column:last-child {
    color: #ffffff;
}

.file-table .column {
    width: 25%;
}


/*DROPDOWN MENU*/
.dropdown-menu{
    text-align: right;
}
.dropdown-menu-item {
    display: inline-block;
    position: relative;
}

.dropdown-submenu > .dropdown-menu-item {
    width: 90px;
    padding: 8px 4px;
    border-bottom: 1px solid #7d7d7d;
    cursor: pointer;
}

.dropdown-submenu > .dropdown-menu-item:last-child {
    border-bottom: none;

}

.dropdown-submenu {
    position: absolute;
    z-index: 1;
    left: 0;
    display: none;
    background-color: #2c2c2c;
    border: 1px solid #7d7d7d;
    border-radius: 4px;
    box-shadow: 11px 10px 14px 1px rgba(0,0,0,0.75);
}

.dropdown-submenu button {
    display: block;
    width: 100%;
    font-size: 14px;
    border: none;
    color: #7d7d7d;
    text-align: left;
    background-color: #2c2c2c;
}

.dropdown-menu-item:hover > .dropdown-submenu {
    display: block;
}


.table-head-name:before {
    content: "+";
    line-height: 14px;
    text-align: center;
}

/*CHECKBOX CUSTOME STYLE*/

.table-checkbox td>label {
    position: relative;
}

.table-checkbox input[type="checkbox"] {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    
}

.table-checkbox input[type="checkbox"]:checked + label:before,
.table-head-name:before {
    background-color: #19a0fa;
    border: 1px solid #19a0fa;
}

.table-head-name:before,
.table-checkbox td>label:before {
    display: inline-block;
    margin-right: 10px;
    width: 14px;
    height: 14px;
    border-radius: 4px; 
} 

.table-checkbox td>label:before {
    content: " ";
    background-color: #2c2c2c;
    border: 1px solid #7d7d7d;
}

svg { 
    margin-right: 10px;
    height: 20px;
    vertical-align: middle;
}

/*SEARCH FORM */

label {
    position: relative;
}

input[type="search"] {
    position: relative;
    width: 100%;
    padding: 10px 10px 10px 30px ;
    background-color: #444444;
    color: #a3a3a3;
    border-radius: 5px;
    border:none;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 8px;
}


